.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50rem;
    gap: 8px;
    padding: 15px;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);

    &.btn-primary {
        background-color: $primary;
        color: $secondary;

        &:hover {
            background-color: lighten(saturate($primary, 5.13), 20.59)
            ;
        }
    }
    &.btn-lg {
        padding: 20px;
    }
}