html {
    font-size: 62.5%;
}
body {
    background: $body-bg;
    font-family: $font-family-base;
    font-size: 1.6rem;
}

// links 
a {
    color: $light;
    text-decoration: none;

    &:hover {
        opacity: .7;
    }
}

// container
.container {
    width: 100%;
    max-width: 1216px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}