header {
    &.main {
        background-color: rgba($primary, 0.5);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        font-family: $font-family-secondary;
        position: fixed;
        z-index: $zindex-fixed;
        width: 100%;
        top: 0;
        left: 0;

        > div {
            display: grid;
            align-items: center;
            grid-template-columns: 200px 1fr 180px; 
            grid-template-rows: 72px; 
            gap: 0 15px; 
            grid-template-areas: "logo menu account"; 

            @include media-breakpoint-down(sm) {
                grid-template-rows: 48px; 
                grid-template-columns: 48px 1fr auto;
                grid-template-areas: "menu-mobile logo account";
                padding: 0;
            }
        }
    }
    .logo { 
        grid-area: logo; 
        display: flex;
        align-items: center;
        margin: 0;
        
        svg {
            width: 100%;
            max-width: 120px;
            height: auto;

            path {
                fill: $accent;
            }
        }

        @include media-breakpoint-down(sm) {
            justify-content: center;

            svg {
                max-width: 100px;
            }
        }
    }
    .main-menu { grid-area: menu; }
    .account { 
        display: flex;
        align-items: center;
        gap: 15px;
        grid-area: account;

        @include media-breakpoint-down(sm) {
            margin-right: 1.2rem;

            .btn {
                background: none;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                height: 32px;
                width: 32px;
                color: $accent;
                
                span {
                    display: none;
                }
            }
        }
    }
}

.avatar {
    background-color: none;
    border-radius: 100%;
    border: none;
    overflow: hidden;
    height: 42px;
    width: 42px;
    flex-shrink: 0;
    padding: 0;

    &.md {
        height: 48px;
        width: 48px;
    }
    &.lg {
        height: 56px;
        width: 56px;
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}