.home-slider {
    margin-top: 6rem;
    
    @include media-breakpoint-up(md) {
        margin-top: 14rem;

        .swiper-wrapper {
            transform: none !important;
        }
    }
    .swiper-slide {
        width: 100%;
        transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

        @include media-breakpoint-up(md) {
            width: calc(30% - 32px);
        }
    }
    
    .hs-item {
        border: 1px solid $dark-border-color;
        border-radius: $border-radius;
        height: 460px;
        position: relative;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        > div {
            background-color: $primary;
            border-radius: 0 12rem 0 0;
            color: $light;
            height: 52%;
            padding: 1.2rem;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 99;

            transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            @include media-breakpoint-up(md) {
                padding: 4.8rem 2.4rem;
                height: 100%;
            }
        }
        h3 {
            color: $light;
            font-family: $font-family-secondary;
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0 0 .8rem 0;
        }
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin: 0;
        }
        .btn {
            width: fit-content;
            display: none;
        }
    }
    .swiper-slide-active {
        width: 100%;

        @include media-breakpoint-up(md) {
            width: 70%;
        }

        .hs-item {
            > div {
                background-color: $accent;
                border-radius: 0 50% 0 0;
                color: $primary;
                height: 75%;
                padding: 2rem 8rem 2rem 2rem;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                z-index: 99;

                @include media-breakpoint-up(md) {
                    border-radius: 0 50rem 50rem 0;
                    height: 100%;
                    padding: 6rem 8rem 6rem 4rem;
                    width: 70%;
                }
            }
            h3 {
                color: $primary;
                font-family: $font-family-secondary;
                font-size: clamp(3rem, 4vw, 4.4rem);
                font-weight: 600;
                margin: 0 0 1.6rem 0;
            }
            p {
                margin: 0 0 5rem 0;
            }
            .btn {
                display: initial;
            }
        }
    }
}