
.main-menu {
    @include media-breakpoint-down(sm) {
        background: $primary;
        box-shadow: 
            0 0 0 100vw rgba($dark, .6),
            0 3px 30px 0 rgba($dark, .3);
        height: 100vh;
        width: 75vw;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $zindex-fixed;
        transform: translateX(-100%);
        opacity: 0;

        transition: 
            all .2s cubic-bezier(0.7, 0, 0.84, 0) .2s,
            box-shadow .2s cubic-bezier(0.7, 0, 0.84, 0);

        &.opn-menu {
            transform: translateX(0);
            opacity: 1;
            
            transition: 
                all .2s cubic-bezier(0.16, 1, 0.3, 1),
                box-shadow .2s cubic-bezier(0.16, 1, 0.3, 1), .2s;
            
        }

        a {
            border-bottom: 1px solid rgba($accent, .1);
            display: block;
            padding: 15px 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            > li {

                > a {
                    font-size: 1.4rem;
                    opacity: .8;
                    display: block;
                    padding: 15px 0 15px 15px;
                }
            } 

        }
        .close-menu {
            background: none;
            border: none;
            color: $accent;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 48px;
            width: 48px;
            padding: 0;

            position: absolute;
            right: 0;
            top: 0;
        }

    }
    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;
        gap: 30px;
        
        > a {
            color: $accent;
            display: flex;
            align-items: center;
            gap: 8px;
            height: 48px;
        }

        .ddw-menu {
            position: relative;

            > a {
                color: $accent;
                display: flex;
                align-items: center;
                gap: 8px;
                height: 48px;
                
                &::after {
                    content: "";
                    background-image: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 7"><path d="M.565.727A.39.39 0 0 1 .893.562c.082 0 .191.028.273.11l5.384 4.95 5.417-4.95a.407.407 0 0 1 .602.027.407.407 0 0 1-.028.602L6.85 6.55a.396.396 0 0 1-.575 0L.592 1.3C.4 1.164.4.89.565.727Z" fill="#{$accent}"/></svg>');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 14px auto;
                    height: 16px;
                    width: 16px;
                }
            }

            .ddw {
                background-color: $dark;
                border: 1px solid rgba($accent, .1);
                box-shadow: 0px 5px 12px 2px #040710;
                border-radius: $border-radius;
                color: $accent;
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                opacity: 0;
                pointer-events: none;
                width: 200px;
                transform: translateY(0);
                transition: all 0.6s cubic-bezier(0.16, 1, 0.3, 1);

                ul {
                    list-style: none;
                    padding: 15px 24px;
                    margin: 0;

                    li {
                        
                        a {
                            color: $accent;
                            display: block;
                            padding: 15px 0;
                        }
                    }
                }
            }

            &:hover {
                .ddw {
                    opacity: 1;
                    pointer-events: initial;
                    transform: translateY(-10px);
                    transition: all 0.2s cubic-bezier(0.7, 0, 0.84, 0);
                }
            }
        }
        .close-menu {
            display: none;
        }
    }
}

.menu-mobile { 
    background: none;
    border: none;
    color: $accent;
    padding: 0;

    grid-area: menu-mobile; 

    @include media-breakpoint-up(sm) {
        display: none;
    }
}