.page-header {
    height: fit-content;
    max-height: 588px;
    width: 100%;
    padding: 100px 0 50px 0;
    overflow: hidden;
    position: relative;

    @include media-breakpoint-up(md) {
        padding: 100px 0;
    }

    &:before {
        content: "";
        background-color: $accent;
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        @include media-breakpoint-up(md) {
            border-radius: 0 50rem 50rem 0;
        }
    }

    > div {
        position: relative;
        z-index: 2;
    }
}
.img-cover {
    position: relative;
    width: 20vw;
    height: fit-content;
    flex-shrink: 0;

    @include media-breakpoint-up(md) {
        width: fit-content;
    }

    > img {
        box-shadow: 0px 8px 12px 0px rgba(1, 31, 24, 0.42), 0px 2px 4px 0px rgba(1, 31, 24, 0.62);
        display: block;
        width: 100%;
        height: auto;
    }
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        border: 1px solid rgba(254, 252, 251, 0.05);
        background: linear-gradient(270deg,rgba(4,7,16,.17) 75%,rgba(254,252,251,.2) 96%,rgba(4,7,16,.2) 100%,rgba(4,7,16,.2) 90%,rgba(255,255,255,.2) 100%);
        height: 100%;
        width: 100%;
    }
}
.ph-info {
    color: $primary;
    display: flex;
    gap: 3.0rem;

    @include media-breakpoint-up(md) {
        align-items: center;
    }

    h2 {
        font-family: $font-family-secondary;
        font-size: clamp(3.2rem, 4vw, 5.6rem);
        font-weight: 600;
        margin: 0 0 1.6rem 0;
    }
    p {
        font-size: 1.6rem;
    }
    .ph-masked-img {
        flex-shrink: 0;
        margin-right: -40vw;
        width: 60vw;
        display: none;

        @include media-breakpoint-up(md) {
            display: block;
            margin-right: -20%;
            width: 50%;
        }
        
        @include media-breakpoint-up(xxl) {
            width: auto;
            margin-right: -400px;
        }

        > img {
            max-width: 700px;
            width: 100%;

            -webkit-mask-image: url('../img/hd-mask.svg');
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: contain;
            -webkit-mask-position: center;

            mask-image: url('../img/hd-mask.svg');
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }
    }
    .ph-course-tutor {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}