.d-none {
    &-sm {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &-md {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &-lg {
        @include media-breakpoint-down(lg) {
        
            display: none;
        }
    }
    &-xl {
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

// Badge
.badge {
    display: flex;
    gap: .8rem;
    font-size: 1.4rem;
    border-radius: 50rem;
    padding: 6px 12px;
    background-color: rgba($light, .1);
    width: fit-content;
}