.d-none {
    &-sm {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &-md {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
    &-lg {
        @include media-breakpoint-down(lg) {
        
            display: none;
        }
    }
    &-xl {
        @include media-breakpoint-down(xl) {
            display: none;
        }
    }
}

// Badge
.badge {
    display: flex;
    gap: .8rem;
    font-size: 1.4rem;
    border-radius: 50rem;
    padding: 6px 12px;
    background-color: rgba($light, .1);
    width: fit-content;

    .badge-img {
        border-radius: 100%;
        margin: -3px 0 -3px -8px;
        overflow: hidden;
        height: 24px;
        width: 24px;
    }
}

// Spacer
.v-spacer {
    margin: 7.2rem 0;
}

//
.bg-section {
    background-color: $accent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 449.76 562'%3E%3Cpath d='M136.76 493.75c0-37.71-30.56-68.27-68.25-68.27S.25 456.04.25 493.73C.25 531.44 30.81 562 68.5 562s68.25-30.56 68.25-68.25ZM293 163.32c0-37.71-30.56-68.27-68.25-68.27s-68.25 30.56-68.25 68.25c0 37.71 30.56 68.27 68.25 68.27S293 201.01 293 163.32ZM0 79.89v257.43c0 37.7 30.56 68.26 68.25 68.26s68.25-30.56 68.25-68.26V79.89c0-37.7-30.56-68.25-68.25-68.25S0 42.19 0 79.89ZM292.75 420.27V319.1c0-37.7-30.56-68.25-68.25-68.25s-68.26 30.56-68.26 68.25v101.17c0 37.7 30.56 68.26 68.26 68.26s68.25-30.56 68.25-68.26ZM449.76 479.48V68.25C449.76 30.56 419.2 0 381.5 0s-68.26 30.56-68.26 68.25v411.23c0 37.7 30.56 68.25 68.26 68.25s68.26-30.56 68.26-68.25Z' fill='%23D7E986'/%3E%3C/svg%3E");
    background-position: top -120px left 100px;
    background-repeat: no-repeat;
    background-size: 520px auto;
    border-radius: 0 50rem 50rem 0;
    padding: 8rem 0;

    .display {
        color: $primary;
    }
    .cse-content {
        border: none;
    }
}